html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
    font-size: 125%;
}

.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}
header {
    background-image: url(./assets/header-burger.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
    margin-top: 30px;
}

nav {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    padding: 0 15px;
    color: #1f2022;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
}

h1 {
    color: #e75605;
    font-size: 5rem;
    text-align: end;
    font-family: 'Montserrat', sans-serif;
    max-width: 400px;
    font-weight: 400;
    margin: 0 90px 0 0;
}
.title {
    display: flex;
    justify-content: flex-end;
    margin-top: 246px;
}
.icons {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

}

i {
    color: #e75605;
    margin-bottom: 15px; 

}

h2 {
    color: #e75605;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.6rem;
}
button {
    border: 3px solid #e75605;
    background-color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.7rem;
    padding: 7px 15px;
}
.imgcontainer  img {
    width: 100%;
}
.menu {
    display: flex;
}
.textcontainer, 
.imgcontainer {
    width: 50%;
}
p {
    font-family: 'Catamaran', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.1rem;
}
.menu .textcontainer {
    padding: 70px 60px 20px 45px;
}
.menu2 {
    background-color: rgb(245, 245, 245);
}
.desserts {
    display: flex;
    justify-content: space-evenly;
}
div .desserts {
    width: 100%;
    height: 439px;
    padding-top: 57px;
}
.desserts .textcontainer {
    margin-left: 80px;
    text-align: left;
}
.desserts h2 {
    margin-top: 0;
}
.desserts img {
    max-width: 280px;
    max-height: 280px;
    margin-left: 50px;
}
.external {
    background-color: #e75605;
}
h3 {
    margin: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
a i {
    color: white;
    font-size: 28px;
}
.iconContainer {
    text-align: center;
    padding: 140px 0 140px 0;
}
.external .wrapper {
    display: flex;
    justify-content: space-evenly;
}
.gallery h2 {
    text-align: center;
    margin-bottom: 70px;
}
.imgcontainer3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.gallery {
    margin-top: 110px;
}
.imgcontainer3 img {
    width: 300px;
    height: 300px;
}
a:hover {
    color:#e75605;
}
a:focus {
    color:#e75605;
    border: none;
}
button:hover {
    background-color: #e75605;
} 
button:focus {
    background-color: #e75605;
} 
.container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}
footer {
    background-color: rgb(245, 245, 245);
    margin-top: 80px;
}
footer nav {
    padding-top: 50px;
}
fieldset {
    border: none;
    padding: 0;
}
fieldset input {
    border: none;
    width: 300px;
    height: 38px;
}
fieldset button {
    margin: 0;
}
.copyright p {
    text-align: center;
    background-color: black;
    color:rgb(207, 206, 206);
    padding: 4px 0 4px 0;
}
    

